<html>
    <head>
        <script src="../vendor/angular/angular.js"></script>
        <script src="../vendor/jquery/dist/jquery.js"></script>
        <script src="../lib/adapter.js"></script>
        <script src="../vendor/firebase/firebase.js"></script>
        <script src="../src/_nowRTC.js"></script>
        <script src="../src/NRTCPeer.js"></script>
        <script src="../src/NRTCPeerConnection.js"></script>
        <script src="../src/NRTCPeerConnectionBindings.js"></script>
        <script src="../src/NRTCPeerActions.js"></script>
        <script src="../src/signaling/websockets/OfferTransportWS.js"></script>
        <script src="../src/signaling/websockets/ICETransportWS.js"></script>
        <script src="../src/signaling/websockets/RTCOfferWS.js"></script>
        <script src="../src/NRTCDataChannel.js"></script>
        <script src="../src/NRTCIceCandidate.js"></script>
        <script src="../src/NRTCSessionDescription.js"></script>
        <script src="../src/NRTCPeerFactory.js"></script>
        <script src="../vendor/socket.io-client/dist/socket.io.js"></script>
        <script src="script/test.js"></script>
    </head>
    <body ng-app="foo">
        <div ng-controller="ChatTest">
            Me:<input ng-model="me"/><br>
            To:<input ng-model="to"/><br>
            <button ng-click="start()">Connect</button>
            <button ng-click="video()">Video</button>
            <div>
                <input ng-model="message" />
                <button ng-click="sendMessage(to, message)">Message</button>
            </div>
            <div>
                <video id="local" autoplay></video>
                <video id="remote" autoplay></video>
            </div>
            Active User: {{activeUser}}<br />
            Peers:
            <span ng-repeat="peer in getPeers()" ng-click="setActiveTab(peer.getUserName())">Name: {{peer.getUserName()}}</span>
            <div ng-repeat="peer in getPeers()" ng-show="peer.getUserName() == activeUser">
                <input ng-model="peer.currentMessage" />
                <button ng-click="sendMessage(peer.getUserName(), peer.currentMessage)">Message</button>
                Messages:
                <ul>
                    <li ng-repeat="message in peer.getMessages()">{{message}}</li>
                </ul>
            </div>
        </div>
    </body>
</html>